.search-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.box-item {
  text-align: center;
  border: 0px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 260px; /* Set the fixed height for the square card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.box-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box-image {
  width: 100%; /* Ensure the image fills the container */
  height: 110%; /* Ensure the image fills the container */
  object-fit: fill; /* Ensure the image covers the entire container */
}

.card-label {
  padding: 5px;
  background-color: #f0f0f0; /* Background color for the label */
}

.card-title {
  margin-bottom: 0;
  font-size: 18px;
  color: #020202; /* Text color */
}
