<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home" (click)="reloadIfActive('/home')">
      <img src="./assets/images/Logo.png" alt="Logo" class="navbar-logo">
    </a>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="reloadIfActive('/home')">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/medicines" routerLinkActive="active" (click)="reloadIfActive('/medicines')">Medicines</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/chatbot" routerLinkActive="active" (click)="reloadIfActive('/chatbot')">Chatbot</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button id="btn" class="nav-link" (click)="scrollToSection($event, 'about')">About US</button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button id="btn" class="nav-link" (click)="scrollToSection($event, 'services')">Services</button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button id="btn" class="nav-link" (click)="scrollToSection($event, 'blogSection')">Blogs</button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button id="btn" class="nav-link" (click)="scrollToSection($event, 'contactSection')">Contact US</button>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 bg-dark">
        <ng-container *ngIf="!isLoggedIn; else loggedInButtons">
          <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="/signup" routerLinkActive="active" (click)="reloadIfActive('/signup')">Signup</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="/login" routerLinkActive="active" (click)="reloadIfActive('/login')">Login</button>
          </li>
        </ng-container>
        <ng-template #loggedInButtons>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/profile" routerLinkActive="active" (click)="reloadIfActive('/profile')">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" (click)="confirmLogout()">Logout</button></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
