.signup-layer {
  background-image: url('../../assets/images/Layer 4.png');
  background-position: center;
  background-size: 100%;
}

.signup-info {
  display: flex;
  align-items: start;

}

.signup-photo img {
  width: 110%;
}



.form-design {
  background-color: rgba(0, 0, 0, 0.559);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  width: 600px;
}

.clickable-box {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 10px;
  width: 600px;
  top: 100px;
  margin-bottom: 1cm;
  left: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clickable-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-user,
.fa-hospital {
  color: #007bff;

}

.fa-3x {
  font-size: 3rem;
  transition: all 0.3s ease;
}

.clickable-box:hover .fa-3x {
  transform: scale(1.2);
}
